/* Import style variables */
@import './app/styles/colors.css';
@import './app/styles/font.css';

:root {
  color: var(--text-primary);
  background-color: var(--background-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--primary-hover);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: var(--background-primary);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* reset default demo button styles from vite template */
button {
  font-family: inherit;
}

/* remove color-scheme override from vite template */